crewai 
unstructured 
pyowm 
tools 
wikipedia 
yfinance 
sec-api 
tiktoken
faiss-cpu 
python-dotenv
langchain-community 
langchain-core 
langchain-groq
openai 
streamlit
cryptography
plotly
requests
langchain-huggingface
huggingface_hub
deepgram-sdk
gtts